#todoList {
    font-size: 1.4em;
}
#todoList ul {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0;
    text-align: left;
    list-style-type: none;
}

#todoList li {
    padding: 0.4em;
    border-bottom: 1px solid #333;
    font-size: 1em;
}

#newEntryInput {
    width: 60%;
    font-size: 1em;
}

#hideCompleted {
    margin-top: 0.5em;
}

input[type=checkbox] {
    transform: scale(1.6);
    margin-right: 0.7em;
}

#listContainer {
    width: 20em;
    margin: 0 auto;
    padding-bottom: 2em;
}

input.editing {
    width: 52%;
    /* TODO: what is going on here? */
    font-size: 1em;
}

button {
    font-size: 0.8em;
}